# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [65]:
x = 6
print(x)

type(x)

print(type(x))

6
<class 'int'>

##### Assinging float

In [11]:
# Use CMND + / to add comments

1+1
2+2  

# Only shows the 2nd one

print(1+1)
print(2+2)

# Use print to get both to show

y = 1.5
print(y)
print(type(y))

z=1.0
print(type(z))
# Anything with a decimal is a FLOAT
# Without the decimal is an INTEGER

2
4
1.5
<class 'float'>
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [16]:
num1 = 2
num2 = 4.5

res = num1 + num2
print(res)
# integer plus float is a float but integer plus integer is integer

6.5

##### Subtraction

In [18]:
dif = num2 - num1
print(dif)

dif -= .5
print(dif)

2.5
2.0

##### Multiplication

In [22]:
prod = num1 * num2
print(prod)

#shorthand
# prod = prod * 10
prod *= 10
print(prod)

9.0
90.0

##### Division

In [25]:
quo = 9/3
print(quo)

# Division always returns a FLOAT

# shorthand
quo /= 10
print(quo)

3.0
0.3

##### Floor Division

In [28]:
floor = 9//3.2
print(floor)
print(type(floor))

# rounds DOWN to nearest integer - but still a FLOAT

2.0
<class 'float'>

##### Modulo

In [32]:
mod = 10 % 3
print(mod)

# gives back the remainder

# shorthand
# mod = mod % num

mod %= 1
print(mod)

1
0

##### Exponential

In [35]:
square = 5 ** 2
print(square)

cube = 5 ** 3
print(cube)

#shorthand
square **= 2
print(square)

25
125
625

### String Input-Output

##### String Assignment

In [40]:
name = "Matt"
print(name)
print(type(name))

Matt Hi 123
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [45]:
#       SEPARATOR - Default is space     END - Default is new line
#                                 End is space
print(name, "Hi", 123, sep="####", end=" ")
# Here, "Brandt" is called a LITERAL - not give it a variable name like name2
print("Brandt")

#                   \n is new line
print(name, 123, end="\n\n")
print("Brandt")

Matt####Hi####123 Brandt
Matt 123

Brandt

##### String Concatenation

In [47]:
first = "Matt"
last = "Day"

full = first + last
print(full)

# strings are immutable - cannot change them
print(first)
print(last)

MattDay
Matt
Day

##### Type Conversion

In [53]:
num = '32'
print(num)
print(type(num))

# looks like a number(integer) - but it is a string

# concatenation
# string + integer DOESN'T WORK
# num + 1

print(num + str(1))
# quotes around mean it's a string

# addition
print(int(num) + 1)

int("a32")

32
<class 'str'>
321
33

ValueError: invalid literal for int() with base 10: 'a32'

##### input()

In [60]:
# input will always return a STRING.
name = input('What is your name?')

age = int(input('What is your age'))

print('You will be', age + 1, 'on your birthday!')

What is your name?Matt
What is your age9000
You will be 9001 on your birthday!

##### format()

In [64]:
# f-strings - add curly braces around the variables
# saves time vs concantenation
sentence = f'My name is {name} and I am {age} years old'
print(sentence)

sentence2 = f'My name is {Matt} and I am {9000} years old'
print(sentence2)

My name is Matt and I am 9000 years old
My name is 6 and I am 9000 years old

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [68]:
color = input("What color is your car?")
year = input("What year is your car?")
make = input("What is the make of your car?")
model = input("What is the model of your car?")

sentence = f'You drive a {year} {color} {make} {model}.'
print(sentence)

What color is your car?Blue
What year is your car?2018
What is the make of your car?Toyota
What is the model of your car?Prius Prime
You drive a 2018 Blue Toyota Prius Prime.

### If Statements

In [73]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num1 > num2:
    print('NUM1 is bigger')
elif num1 == num2:
    print('equal')
else:  
#     num1 < num 2 - don't need this for ELSE
    print('NUM1 is smaller')

NUM1 is smaller

##### 'is' keyword

In [78]:
# use the "IS" keyword when checking for same/similar objects, not same value
num3 = 55
num4 = 55

# "IS" looks for referencial equality
# 55 is the same for both - 55 is 55 no matter what

if num3 is num4:
    print('they are the exact same thing')
    
shoha = [5, 5, 5]
brandt = [5, 5, 5]

# FALSE because they aren't the same actual list
print(shoha is brandt)

they are the exact same thing
False

##### 'in' keyword

In [81]:
char = 'Harry Potter'

if 'o' in char:
    print('found o')

# looking for a LITERAL match - capitals count!
if 'O' in char:
    print('found o')
else: 
    print('not found')

found o
not found

##### 'not in' keyword'

In [85]:
if 'a' not in char:
    print('no "a"')
else:
    print('there is an "a"')
    

# "if not false:" is the same as saying "if true"

there is an "a"

NameError: name 'false' is not defined

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [93]:
car = input("What is your favorite car?")
car = car.lower()

if 'p' in car:
    print('there is a "p"')
else:
    print('there is not a "p"')

What is your favorite car?Prius
there is a "p"

## Using 'and'/'or' with If Statements

In [97]:
name = 'Shoha'


# have to have the full "'o' in name" on both sides of the conjunction
if 'o' in name and 'e' in name:
    print('FOUND IT')
else:
    print('no')
    
# difference between "and" and "or"
    
if 'o' in name or 'e' in name:
    print('FOUND IT')
else:
    print('no')
    
    
# TRUTHINESS
# False     True
# 0         Any number
# [ ]       [List, List, List]
# " "       "String"
# { }       {Dictionary}

no
FOUND IT

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [106]:
# SYNTAX
# for VARIABLE in ITERABLE
name = 'shoha'
#       01234
# every variable has a POSITION from 0 to end 
# len(name) will be 5

# looping through each item
for letter in name:
    if letter == 'o':
        print('FOUND O')


# looping through every index, then using the index to find item
for index in range(len(name)):
    print(index, name[index])
    if name[index] == 'o':
        print(f'found "o" at index {index}')
#     bracket notation to get cooresponding item in that index
    
    
    
if True:
    pass
# pass functions like a placeholder to avoid errors
else:
    print('hi')

FOUND O
0 s
1 h
2 o
found "o" at index 2
3 h
4 a

##### Using 'in' keyword

In [110]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [112]:
for num in range(7):
    if num == 5:
        continue
    print(num)
    
# CONTINUE brings you back to the next iteration (skipped print(5) in the above example)

0
1
2
3
4
6

##### Break Statement

In [ ]:
# will break out of current loop

In [114]:
for num in range(7):
    if num == 5:
        break
    print(num)
    
print('done')
    
# BREAK removes you from the for loop entirely

0
1
2
3
4
done

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will move on on same iteration

In [115]:
for num in range(7):
    if num == 5:
        pass
    print(num)
    
print('done')

# '5' gets printed

0
1
2
3
4
5
6
done

##### Double For Loops

In [116]:
for i in range(3):
    for j in range (2):
        print(f'i is {i}, j is {j}')
        
# i = 0, 1, 2
# j = 0, 1

# the inner for loop runs entirely until the outer for loop can move to its next interation

i is 0, j is 0
i is 0, j is 1
i is 1, j is 0
i is 1, j is 1
i is 2, j is 0
i is 2, j is 1

### While Loops

In [118]:
# syntax

# while CONDITION:

num = 0
while num < 10:
    print(num)
    num += 1
print('done')
    
# everytime we loop, '1' is added to 'num' until it reaches '10'
# without that num += 1, we end up in an INFINITE LOOP - BADBADBAD

0
1
2
3
4
5
6
7
8
9
done

##### Looping 'While True'

In [125]:
while True:
    num = input('Guess a number between 1 and 100')
    print(f'Your guess is {num}.')
    if num == '3':
        print(f'Correct, you win!!!')
        break
    print('Incorrect, please try again')

Guess a number between 1 and 1004
Your guess is 4.
Incorrect, please try again
Guess a number between 1 and 1005
Your guess is 5.
Incorrect, please try again
Guess a number between 1 and 1003
Your guess is 3.
Correct, you win!!!

##### While & For Loops Used Together

In [126]:
num = 0
while num < 5:
    print(f'While Loop Iteration: {num}')
    
    for i in range(2):
        print(f'For Loop Iteration: {i}')
        
    num += 1
    
# Very similar to a double for loop

While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [130]:
# start, stop, step
for i in range(10):
    print(i)
    
for i in range(3, 10):
    print(i)
    
for i in range(3, 10, 2):
    print(i)

0
1
2
3
4
5
6
7
8
9
3
4
5
6
7
8
9
3
5
7
9

##### len()

In [131]:
# checks the length of a variable
name = "Aubrey"
len(name)

name = 123445
# len(name) will not return because it is an integer

6

##### help()

In [135]:
# help with a certain type of function

help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [138]:
# is name an integer?

isinstance(name, int)

False

##### abs()

In [139]:
# finds the absolute value of something

abs(-5)

5

### Try and Except

In [145]:
# try a couple of lines of code to text if they might break
# You can add your own "error message" but doesn't stop your code

try:
    age = int(input('What is your age?'))
except:
    print('invalid entry.  Please try again.')
    

    

while True:
    try:
        guess = int(input('Guess a number.'))
        if guess == 5:
            print('You got it!')
            break
    except:
        print('Invalid entry.  Please try again.')
        
        
# Try and Except is not the only way to error handle - .isdigit() is one for this situation

What is your age?3
Guess a number.4
Guess a number.e
Invalid entry.  Please try again.
Guess a number.5
You got it!

### Lists

##### Declaring Lists

In [149]:
# a list is an ordered collection of objects denoted with square brackets [ ]

# can include names,      integers, or lists
names = ['shoha', 'brandt', 112, [1, 2, 3, 4, 5]]
print(names)
print(type(names))

['shoha', 'brandt', 112, [1, 2, 3, 4, 5]]
<class 'list'>

##### Indexing a List

In [155]:
print(names[1])
print(names[-2])

# how to get the index inside the inner list
# first bracket gets the list - second bracket gets the index inside the inner list
print(names[3][2])

brandt
112
3

##### .append()

In [159]:
numbers = [5, 7, 9]
print(numbers)


# the .append function doesn't give us anything new
# it changes the original list
numbers.append(11)
print(numbers)


x = 'hello'
x = x.upper()
print(x)

[5, 7, 9]
[5, 7, 9, 11]
HELLO

##### .insert()

In [160]:
# at index 2, insert 9001
numbers.insert(2, 9001)
print(numbers)

[5, 7, 9001, 9, 11]

##### .pop()

In [162]:
# takes out the (default) last number and saves it
# I can store the removed number somewhere

removed = numbers.pop()
print(numbers)
print(removed)

# can choose which number to pop
removed = numbers.pop(2)
print(numbers)
print(removed)

[5, 7, 9001]
9
[5, 7]
9001


##### .remove()

In [169]:
names = ['max', 'evan', 'max', 'john']
names.remove('max')
print(names)

# removes first instance of that index

['evan', 'max', 'john']

##### del()

In [170]:
del(names[2])
print(names)

['evan', 'max']

##### Concatenating Two Lists

In [171]:
l1 = [1, 2, 3]
l2 = [5, 7, 9]

big = l1 + l2
print(big)
print(l1)
print(l2)

[1, 2, 3, 5, 7, 9]
[1, 2, 3]
[5, 7, 9]

##### Lists Within Lists

In [ ]:
# see above

##### Looping Through Lists

In [178]:
names = ['shoha', 'brandt', 'nicole', 'aubrey', 'Brian']

for name in names:
    if name[0].upper() == "B":
        print('B name found', name)
    else:
        pass
    
for index in range(len(names)):
#     print(index)
    if names[index][0].lower() == 'b':
        print(f'b name found at index {index}', names[index])

B name found brandt
B name found Brian
b name found at index 1 brandt
b name found at index 4 Brian

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [181]:
for n in range(1000):
    if n**3 < 1000:
        print(n**3)
    else:
        break

0
1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [265]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for p in range(1, 100):
    if p == 1:
        print(p)
    elif p == 2:
        print(p)
    elif (2**(p - 1))%(p) == 1:
        print(p)
    else:
        continue

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [267]:
while True:
    try:
        age = int(input('What is your age? '))
        print(f'Your age is: {age}.')
        if age < 18:
            print('kids')
            break
        elif 18 <= age <= 65:
            print('adults')
            break
        else:
            print('seniors')
            break
    except:
        print('Invalid entry.  Please try again.')
        continue

What is your age? 34
Your age is: 34.
adults